//  header
html[dir="ltr"]{
    .lang  , .lang2 {
        span{
            font-size: 13px;
        }
    }
}
header{
    padding-top: 15px;
    background-color: transparent;
    position: absolute;
     width: 100%;
    inset-inline-end: 0;
    transition: all linear .3s;
    z-index: 15;
   
}
nav{
    transition: all linear .4s;
   
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    a{
        display: block;
        width: 100%;
    }
    img{
        width: 132px;
        height: 105px;
    }
}
.lang a , .lang2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    transition: all linear .3s;
    &:hover{
        text-decoration: none ;
        color: $second-color;
    }
    img{
      margin-inline-start: 10px;
    }
   
}


  .fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    transition: 0.5s;
    box-shadow: 0 0 4px rgb(22 22 22 / 10%);
    background-color: #fff;
  }
  
  .fixsedt {
    top: -130px;
  }

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li:last-child{
        margin-inline-end: 0;
    }
   > li{
        margin-inline-end: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{
            font-size: 18px;
            color: #fff;
            font-weight: 500;
            text-transform: capitalize;
            transition: all linear .3s;
            position: relative;
            &:hover{
                text-decoration: none;
                color: $second-color;
            }
        }
    }
}


.li-drop {
    position: relative;
     > a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after{
            content: "\f107";
            font-family: "line Awesome free";
            font-weight: 900;
            position: absolute;
            font-size: 11px;
            height: 10px;
            top: 5px;
            inset-inline-end: -14px;
        }
    }
    &:hover{
        .ul-drop {
            opacity: 1;
            visibility: visible;
        }
    }
    .ul-drop{
        transition: all linear .3s;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: 35px;
        z-index: 11;
        opacity: 0;
        visibility: hidden;
        min-width: 145px ;
        border-radius: 7px;
        background-color: $main-color;
        padding: 6px 10px;
        li {
            border-bottom: 1px solid #fff;
            border-color: rgba($color: #fff, $alpha: 0.102);
            padding-bottom: 4px;
            a:hover{
                text-decoration: none;
            }
        }
        li:last-child{
            border-bottom: none;
        }
        a{
            font-size: 14px;
            line-height: 32px;
            color: #ffffff;
            text-align: left;
        }
    }
}
.openNav-btn{
    display: none !important;
    cursor: pointer;
    i {
        font-size: 28px;
        color: #fff;
       
    }
}

.closeNav-btn{
    display: none;
    cursor: pointer;
}
html[dir="ltr"]{
    .li-drop .ul-drop{
        min-width: 163px;
        padding: 8px 10px;
    }
}

.open-nav{
    inset-inline-start: -100% !important;
}

@include max-992 {
    .header-content{
        flex-wrap: wrap;
    }

    .logo {
        img {
            width: 110px;
            max-width: 100%;
            height: auto;
        }
    }
    .nav-ul > li{
        margin-inline-end: 25px;
    }
    .nav-ul > li a{
        font-size: 15px;
    }
}

@include max-768 {
    .lang a, .lang2 a{
        color: #adb5bd;
    }
    header{
        padding: 10px 0;
    }
    .icon-rotate::after{
        transform: translateY(-50%) rotate(180deg)  !important;
        top: 14px !important;
    }
    html[dir="rtl"]{
        .li-drop .ul-drop a{
            text-align: right;
        }
    }
    .search-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .openNav-btn{
        margin-inline-start: 15px;
    }
    .li-drop {
        flex-direction: column;
        align-items: flex-start !important;
        a{
            display: block;
            width: 100%;
            &::after{
                transition: all linear .3s;
                position: absolute;
                inset-inline-end: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 16px;
            }
        }
       .ul-drop{
        transition: none;
        background-color: transparent;
        padding: 0;
        min-width: auto;
        position: static;
        opacity: 1;
        visibility: visible;
        padding-top: 10px;
        display: none;
            
            li a {
                color: $black-color;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
    .logo img{
        width: 60px;
        height: auto;
        max-width: 100%;
    }
     .header-content{
        position: relative;
        width: 100%;
    }
    .openNav-btn{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .header-content >  .lang{
        display: none;
    }

    nav{
        position: fixed ;
        overflow: auto;
        top: 0 ;
        inset-inline-start: 0%;
        width: 100%;
        height: 100%;
        padding: 25px 35px 0 35px;
        background-color: $white-color;
    }
    .nav-ul{
        flex-direction: column;
        margin: 80px 0 0 0 !important;
        align-items: flex-start;
    }
    .nav-ul > li{
        margin-bottom: 20px;
        margin-inline-end: 0;
        width: 100%;
        a{
              display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            color: #000;
            &:hover{
                color: #000;
            }
            &::after{
                height: auto;
            }
        }
    }
    .closeNav-btn{
      display: block;
        i{
            font-size: 24px;
            display: block;
            height: 100%;
            color: #adb5bd
        }
    }

    .close-lang-holder{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lang2 a img  {
        margin-inline-start: 5px;
    }
   
}




@include min-768{
    .close-lang-holder{
        display: none;
    }
    .lang2{
        display: none;
    }
    .contactus{
        margin-inline-end: 0 !important;
    }
    .ul-drop{
        text-align: center;
    }
        .ul-drop{
            left: 50%;
            transform: translateX(-50%);
        }
    
   
    .li-drop .ul-drop a{
        text-align: center;
    }
}





@media screen and (min-width: 768px) and (max-width: 992px) {
        .search-section {
            width: 100%;
            order: 5;
            margin-top: 15px;
        }
    
}




@include min-1200{
    nav{
        margin-inline-start : 24%;
    }
}